"*":
  "exception-reporting":
    userId: "2ec4b3e2-23f9-bc7b-a8bf-efeccdd4ab19"
  welcome:
    showOnStartup: false
  "markdown-preview":
    useGitHubStyle: true
    breakOnSingleNewline: true
  core: {}
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    fontFamily: "MigMix 2M"
    backUpBeforeSaving: true
  "japanese-wrap":
    characterWidth: {}
  jumpy: {}
  minimap:
    plugins:
      bookmarks: true
      "highlight-selected": true
      pigments: true
  "one-dark-ui":
    layoutMode: "Compact"
  tablr: {}
  "save-session":
    dataSaveFolder: "/Users/kurumadani/.atom/packages/save-session/projects"
".python.regexp.source":
  editor:
    preferredLineLength: 120
".python.source":
  editor:
    preferredLineLength: 120
